
body {
    background: rgb(226, 226, 226);
    font-family: Verdana, sans-serif;
    font-size: 19px;
    color: rgb(80, 80, 80);
}

input {
    display: none;
}

.container {
    width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slidecont {
    width: 400%;
    display: flex;
    transition: all 0.8s ease 0s;
}

.slides {
   width: 600px;
   height: 700px;

}

#slideone {
    background: url(./assets/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

#slidetwo {
    background: url(./assets/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

#slidethree {
    background: url(./assets/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

#slidefour {
    background: url(./assets/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.undercont {
    height: 70px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.titlecont {
    overflow: hidden;
}

.titles {
    width: 400%;
    display: flex;
    flex: 0 0 auto;
    margin: 0;
    transition: all 0.8s ease 0s;
}

.slidetitle {
    width: 25%;
    text-align: left;
}

.controlcont {
    display: flex;
    justify-content: flex-end;
}

.controlcont label {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.labelpoint {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(85, 235, 40);
    margin-top: 12.5px;
    margin-left: 12.5px;
    transition: 0.3s;
}

label:hover .labelpoint {
    background: rgb(124, 124, 124);
    transition: 0.3s;
}

label:active .labelpoint {
    transform: scale(0.7);
}

#slide1:checked ~ .undercont label:nth-of-type(1) .labelpoint,
#slide2:checked ~ .undercont label:nth-of-type(2) .labelpoint,
#slide3:checked ~ .undercont label:nth-of-type(3) .labelpoint,
#slide4:checked ~ .undercont label:nth-of-type(4) .labelpoint {
  background: rgb(124, 124, 124);;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(85, 235, 40);;
}

#slide1:checked ~ .slidecont {
  transform: translate(0%, 0%);
}
#slide2:checked ~ .slidecont {
  transform: translate(-25%, 0%);
}
#slide3:checked ~ .slidecont {
  transform: translate(-50%, 0%);
}
#slide4:checked ~ .slidecont {
  transform: translate(-75%, 0%);
}

#slide1:checked ~ .undercont .titles {
  transform: translate(0%, 0%);
}
#slide2:checked ~ .undercont .titles {
  transform: translate(-25%, 0%);
}
#slide3:checked ~ .undercont .titles {
  transform: translate(-50%, 0%);
}
#slide4:checked ~ .undercont .titles {
  transform: translate(-75%, 0%);
}